.bg-dark{
    background-color: rgb(94, 96, 106);
}

.bg-petrol{
    background-color: rgb(20, 100, 111);
}

.bg-olive{
    background-color: rgb(144, 162, 125);
}

.bg-mustard{
    background-color: rgb(197, 147, 45);
}

.bg-goldenrod{
    background-color: goldenrod;
}

.bg-night{
    background-color: rgb(21, 37, 47);
}
